.about-me-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 150px 0;
}

@media screen and (min-width: 992px) {
    .about-me-sec {
        flex-direction: row;
        align-items: flex-start;
    }
}

.img-profile {
    background-image: url('../../../content/img-profile.jpg');
    background-size: cover;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.about-me-text {
    color: white;
}

.about-me-text h1 {
    border-bottom: 4px solid white;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.thanks {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-top: 40px;
}